{% extends "base.html" %}
{% block homenav %} <a class="navbar-brand" href="{{url_for('base_bp.home')}}">Critiq</a> {% endblock homenav %}

{% block content %}

<div class="container">
    <h1>Forgot Password</h1>
    {{ form.csrf_token }}
    <form method="POST">
    {{form.password.label(class_="form-label")}}
    {{form.password(class_="form-control")}}

    {{form.confirm.label(class_="form-label")}}
    {{form.confirm(class_="form-control")}}

    {{form.submit(class_="btn btn-primary")}}
    </form>
</div>

{% endblock %}