{% extends "base.html" %}

{% block content %}

        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-signup" role="tabpanel" aria-labelledby="pills-signup-tab">
                <form id="joinform" action="{{url_for('login.join')}}" method="post">
                    <h2>Join</h2>
                    <p><label>Username: <input class="form-control" type="text" name="username" required pattern="^\w+$"></label></p>
                    <p><label>Password: <input class="form-control" type="password" name="password1" required></label></p>
                    <p><label>Confirm Password: <input class="form-control" type="password" name="password2" required></label></p>
                    <p><button class="btn btn-info" type="submit">Submit</button></p>
                </form>
            </div>

            <div class="tab-pane fade" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab">
                <form id="loginform" action="{{url_for('login.logger')}}" method="post">
                    <h2>Login</h2>
                    <p><label>Username: <input class="form-control" type="text" name="username" required pattern="^\w+$"></label></p>
                    <p><label>Password: <input class="form-control" type="password" name="password" required></label></p>
                    <p><button class="btn btn-info" type="submit">Submit</button></p>
                </form>
            </div>
        </div>
  
        <ul class="nav nav-pills" id="pills-tab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="pills-signup-tab" data-toggle="pill" href="#pills-signup" role="tab" aria-controls="pills-signup" aria-selected="true">
                    Sign Up
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="pills-login-tab" data-toggle="pill" href="#pills-login" role="tab" aria-controls="pills-login" aria-selected="false">
                    Log In
                </a>
            </li>
        </ul>

{% endblock %}
