{% from 'bootstrap5/utils.html' import render_messages %}
{% from 'bootstrap5/nav.html' import render_nav_item %}
<!doctype html>
<html lang='en'>

<head>
{% block header %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Svetha Pulavarty">
    
    {% block styles %}
        {{ bootstrap.load_css() }}
    {% endblock styles %}

    <title>{{page_title}}</title>
{% endblock header %}
</head>

<body>
    <nav class='nav nav-pills'> 
        {{ render_nav_item('auth_bp.home', 'Home') }}
    </nav>

{{ render_messages() }}

{% block content %}
    <h1>Welcome!</h1>
{% endblock %}

<footer>

</footer>
{% block scripts %}
    {{ bootstrap.load_js() }}
{% endblock scripts %}
</body>